
.jumbotron.row
  %h1.title The Cube Game

.stage0.row
  .col-sm-3
  .col-sm-6.col-xs-12
    %h1 I’m going to share a game with you.
    %h1 This game will reveal incredible things about whoever plays it; surprise, shock and delight complete strangers, and has kickstarted more friendships than I know how to count.
    %h1 Play along and you’ll see. Warning... This Game can only be played once. If you are playing with 2+ beginners click here
    %button.btn.btn-primary.btn-block.btn-lg#btn0{type:'button'} Lets Play
  .col-sm-3

.stage1.row
  .col-sm-3
  .col-sm-6.col-xs-12
    %h1 Remember to describe aloud everything you see. Even if it isn't exactly what I asked for.
    %h1 There are no right answers here, only your answers.  Take a moment before you continue – the details are important.
    %h1 I want you to imagine a desert, stretching out as far as your eyes can see. In this desert is a cube.
    %h1 Your first task is to describe the cube. What does it look like? How large is it? What is it made of? Where exactly is it?
    %button.btn.btn-primary.btn-block.btn-lg#btn1{type:'button'} Next(1/5)
  .col-sm-3

.stage2.row
  .col-sm-3
  .col-sm-6.col-xs-12
    %h1 As you look at the desert and your cube, you notice there is also a ladder. Your second task (there are just five) is to describe the ladder. What is it made of? How big is it? Where is it, in relation to the cube?
    %button.btn.btn-primary.btn-block.btn-lg#btn2{type:'button'} Next(2/5)
  .col-sm-3

.stage3.row
  .col-sm-3
  .col-sm-6.col-xs-12
    %h1 Now imagine that in the scene there is a horse. (Yes, horse. I didn’t say this desert made sense). Your third task: describe the horse. Most importantly: where is the horse, and what is it doing? Where, if anywhere, is it going?
    %button.btn.btn-primary.btn-block.btn-lg#btn3{type:'button'} Next(3/5)
  .col-sm-3

.stage4.row
  .col-sm-3
  .col-sm-6.col-xs-12
    %h1 We’re nearly there now. In the scene before you are flowers. Your penultimate task: describe the flowers. How many are there? What do they look like? Where are they, in relation to the horse, cube, ladder and sand?
    %button.btn.btn-primary.btn-block.btn-lg#btn4{type:'button'} Next(4/5)
  .col-sm-3

.stage5.row
  .col-sm-3
  .col-sm-6.col-xs-12
    %h1 Final question. In the desert there is a storm. Describe the storm. What type of storm is it? Is it near, or far? What direction is it headed? Does it affect the horse, flowers, cube or ladder?
    %button.btn.btn-primary.btn-block.btn-lg#btn5{type:'button'} Next(5/5)
  .col-sm-3

.stageWarning.row
  .col-sm-3
  .col-sm-6.col-xs-12
    %h1 If you’ve been playing along, this is going to be fun. If you didn’t, I must warn you: the next part ruins your ability to play this game ever again. If you won’t want to ruin it forever, go back now. Trust me.
    %h1 Ready? There’s no going back.
    %button.btn.btn-primary.btn-block.btn-lg#btnW{type:'button'} Show Me the results
  .col-sm-3

.stageEnd.row
  .col-sm-3
  .col-sm-6.col-xs-12
    %h1 Congrats You are finished
    %h1 Now for the Results
    %h1 The Cube is yourself
    %h1 The size is ostensibly your ego; a large cube means you're pretty sure of yourself, a small cube less so.
    %h1 The vertical placement of the cube is how grounded you are. Resting on the sand? You're probably pretty down to earth. Floating in the sky? Your head is the clouds.
    %h1 The cube's material conveys how open you are: Transparent cubes belong to transparent people, opaque cubes are more protective of their minds. Glowing? You're likely a postive person, who aims to raise the spirits of others. Made of granite? You're likely protective and resilient.
    %h1 The trick here is that when asked to describe a blank, abstract entity - a cube - your imagination willt tend to project its own identity onto it. This trick is as old as time, but its about to get more interesting
    %h1 The Ladder represents your friends.
    %h1 Are your friends leaning on the cube? Your friends depend on you, and are close. Is the ladder frail or robust? Tall or Short? Does it lead inside the cube? Or is it cast to one side, lying unloved on the sand? By now you should be able to draw your own conclusions.
    %h1 The horse represents your dream partner.
    %h1 The type of horse reveals alot about what you yearn for in a partner. Some people see a steady brown workhorse, others a shining pegasus or unicorn. Make of these people what you will.
    %h1 Is your horse nuzzling your cube affectionately, or taking a bite out of it? Is it far from your cube or walking? This can represent a current partner or an aspirational one, but the results are often a mix of touching and hilarious.
    %h1 The flowers represents children.
    %h1 The number of flowers relates to how many you imagine yourself having. Some people see just a single withered daisy; others a replendent garden covering the cube and desert beneath. (Guys watch out for those).
    %h1 The Color and vitality of the flowers can speak to their health and presumed prosperity. The placement - particularily in relation to the cube - can reveal interesting relations; I once met a woman whose horse was eating their flowers.
    %h1 Finally the storm represents threats
    %h1 This speaks to the current state of the person. How they perceieve risk in their life.Some may see a distant storm just over the horizon. Others may see themselves in the middle of a thunderous apocalypse, hailstones the size of baseballs pelting their fragile cube and horse. Chances are those people have some immediate traume in their life.

    %h1 Now is this all correct? No, of course not. You won't be reading any peer reviewed journals about the soothsaying properties of Horses and Ladders. This is just a game, albiet one that has reveals some enlighting things about your personality.
  .col-sm-3
