
.stage0
  %h1 I’m going to share a game with you.
  %h2 This game will reveal incredible things about whoever plays it; surprise, shock and delight complete strangers, and has kickstarted more friendships than I know how to count.
  %h3 Play along and you’ll see. Warning... This Game can only be played once. If you are playing with 2+ beginners click here
  %button#btn0 Lets Play

.stage1.hidden
  %h1 Remember to describe aloud everything you see. Even if it isn't exactly what I asked for.
  %h2 There are no right answers here, only your answers.  Take a moment before you continue – the details are important.
  %h2 I want you to imagine a desert, stretching out as far as your eyes can see. In this desert is a cube.
  %h2 Your first task is to describe the cube. What does it look like? How large is it? What is it made of? Where exactly is it?
  %button#btn1 Next(1/5)

.stage2.hidden
  %h2 As you look at the desert and your cube, you notice there is also a ladder. Your second task (there are just five) is to describe the ladder. What is it made of? How big is it? Where is it, in relation to the cube?
  %button#btn2 Next(2/5)

.stage3.hidden
  %h2 Horse
  %button#btn3 Next(3/5)

.stage4.hidden
  %h2 Flowers
  %button#btn4 Next(4/5)

.stage5.hidden
  %h2 Storm
  %button#btn5 Next(5/5)

.stageWarning.hidden
  %h2 WARNING... You can only play this game once. If you haven't played honestly you will ruin itself for you forever. So please only proceed if you are ready.
  %button#btnW Show Me the results

.stageEnd.hidden
  %h2 Congrats You are finished
