// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden{
  display:none;
}

.title{
  text-align: center;
}

.jumbotron{
  background: #85C2FF;
}

#btn0{
  margin-top: 30px;
}
#btn1{
  margin-top: 30px;
}
#btn2{
  margin-top: 30px;
}
#btn3{
  margin-top: 30px;
}
#btn4{
  margin-top: 30px;
}
#btn5{
  margin-top: 30px;
}
#btnW{
  margin-top: 30px;
}

.row{
  margin-bottom: 30px;
}
